[data-name="block-editor"] [contenteditable] {
    position: relative;
}
[data-name="block-editor"] [contenteditable][data-placeholder]:empty::before {
    position: absolute;
    content: attr(data-placeholder);
    color: #aaa;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    pointer-events: none;
}

@reference "../../../index.css";
.popoverButton {
    @apply w-full py-2.5 px-4 text-gray-600 font-medium hover:bg-gray-100 flex items-center gap-1.5 cursor-pointer text-sm;
}
